html{
    scroll-padding-top: 90px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #00000042;
    z-index:100;
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in {
    from{scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

.my-float{
	margin-top:16px;
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.navbar{
    background: rgba(0, 0, 0, 0.4);

}
.container{
    min-width: 80vw;
    margin: 0 auto;
}

.bg-image{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    filter: brightness(0.8);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar-brand{
    font-weight: 800;
    color: white;
    font-size: 2.4rem;

}

.navbar-brand img{
    height: 55px;
}

.nav-link{
    color: white;
    font-weight: 500;
}

.nav-link:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
    transition-duration: 0.1s;
}

.navbar-nav{
    gap: 70px;
}

a span{
    color: red;
}

.btn{    
    border-radius: 30px;
    padding: 17px 30px;
    border-style: hidden;
    background-color: #25d366;
}

.lead{
    color: white;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.6rem;
    padding-bottom: 5vh;

}

.hero-container h1{
    font-size: 4.3rem;
    color: white;
    text-shadow: 2px 3px 4px black;
    padding-bottom: 5vh;
}

@media (max-width: 430px) {
    .hero-container h1 {
        font-size: 2.7rem;
    }

    .service-container h3{
        font-size: 1.2rem;
    }

    .navbar .navbar-brand{
        font-size: 1.8rem;
    }

    .hero-container .hero-columns {
        margin: 0;
    }

    .lead {
        font-size: 1.2rem;
    }

    .servicio-container .card-header{
        font-size: 4rem;

    }

    .servicio-container .card-text{
        font-size: 1rem;
    }
}

.hero-container .p-time{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-shadow: 4px 1px 4px rgb(0, 0, 0);
    width: fit-content;
    padding-top: 10px;
    font-weight: 400;
    padding-left: 18px;
}


.hero-container{
    height: 100vh;
}



/* FEATURE SECTION */

.servicio-container i {
    color: red;
}

.servicio-container .card {
    height: 340px;
    min-width: 90%;
    background-size: cover;
    background-image: url(/images/balanceadora.png);
}

.servicio-container .card-header{
    font-size: 2rem;
    color: white;
    text-shadow: 2px 3px 4px rgb(0, 0, 0);
    z-index: 1;
}

.servicio-container .card-text{
    color: white;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 1;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0));

}
/* ABOUT SECTION */

.about-container {
    height: 90vh;
}

h2{
    color: rgb(255, 0, 0);
    text-shadow: 2px 3px 4px black;
    font-size: 3.1em;
    margin: 0;
    padding: 0;
}
.about-container .lead{
    color: white;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.6rem;
    padding-bottom: 5vh;
}

.google-map{
    position: relative;
    
}
.google-map iframe{
    height: 220px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 1px solid grey;
    border-radius: 20px;
}


/* FOOTER SECTION */

.footer-container li {
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
}

.footer-container p {
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
